<p>Create an account</p>
<style>
    .content {
      display: flex;
      margin: 82px auto 32px;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 16px;
    }
    .content {
      display: flex;
      margin: 82px auto 32px;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
    }

    .card {
      all: unset;
      border-radius: 4px;
      border: 1px solid #462b69;
      background-color: #2d42dd;
      color:#ffffff;
      height: 40px;
      width: 200px;
      margin: 0 8px 16px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }
  
    .card.card-small {
      height: 16px;
      width: 168px;
    }
  
    .card-container .card:not(.highlight-card) {
      cursor: pointer;
    }
  
    .card-container .card:not(.highlight-card):hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
  
    .card-container .card:not(.highlight-card):hover .material-icons path {
      fill: rgb(105, 103, 103);
    }
  
    .card.highlight-card {
      background-color: #2738cb;
      color: rgb(255, 255, 255);
      font-weight: 600;
      border: none;
      width: auto;
      min-width: 30%;
      position: relative;
    }
  
    .card.card.highlight-card span {
      margin-left: 1px;
    }
  
    a,
    a:visited,
    a:hover {
      color: #ffffff;
      text-decoration: none;
    }
  
    a:hover {
      color: #125699;
    }

    .login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    }
  
    .login-full-width {
    width: 100%;
    }
</style>

<div class="content" role="main">
  
    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
      <span>Welcome to (insert app title here)</span>
    </div>
  
    <!-- Resources -->
    <h2>Create Account</h2>
    <div>
      <mat-card>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          
          <mat-form-field class="login-full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="username">
            <mat-error
              *ngIf="this.registerForm.get('username')?.touched && this.registerForm.get('username')?.hasError('required')">
              Name is required</mat-error>
          </mat-form-field>
          
          <mat-form-field class="login-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error *ngIf="this.registerForm.get('email')?.touched && this.registerForm.get('email')?.hasError('required')">
              Email is required</mat-error>
            <mat-error *ngIf="this.registerForm.get('email')?.touched && this.registerForm.get('email')?.hasError('email')">
              Must be a valid Email</mat-error>
          </mat-form-field>
        
          <mat-form-field class="login-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error
            *ngIf="this.registerForm.get('password')?.touched && this.registerForm.get('password')?.hasError('required')">
            Password is required</mat-error>
          </mat-form-field>

          <button mat-button type="submit" [disabled]="!registerForm.valid">Submit</button>

        </form>        
      </mat-card>
    </div>

    <br>
    
    <div class="content" role="main">

      <div class="card-container">
        <a class="card" routerLink="">
          <span>Return Home</span>
        </a>
      </div>

    </div>
    
    
  
    </div>