<link rel="stylesheet" href="dashboard.component.css">

<style>
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #ffffff;
      background-color: #424242;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .content {
      display: grid;
      grid-template-columns: 300px 10px 890px;
      margin: 50px auto 32px;
      padding: 0 16px;
      max-width: 1200px;
      flex-direction: column;
      /* align-items: center; */
      background-color: blue;
    }
    
    .sidebar {
      display: grid;
      grid-template-rows:  15px 100px 100px 100px 100px 100px 100px;
      justify-content: center;
      margin-top: 16px;
      background-color: red;
      max-width: 300px;
      height: 615px;
      align-items: center;
    }

    .form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 16px;
      color: white;
      background-color: rgb(1, 57, 58);
      height: 600px;
      max-width: 590px;
    }
    .addItin {
      all: unset;
      border-radius: 4px;
      border: 2px solid #462b69;
      background-color: #2d42dd;
      color:#ffffff;
      height: 30px;
      width: 275px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }

    .Itinerary {
      all: unset;
      border-radius: 4px;
      border: 2px solid #462b69;
      background-color: #2d42dd;
      color:#ffffff;
      height: 75px;
      width: 275px;
      line-height: 24px;
      transition: all 0.2s ease-in-out;
    }
  
    .sidebar .Itinerary:not(.highlight-Itinerary):hover {
      cursor: pointer;
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .sidebar .addItin:not(.highlight-addItin):hover {
      cursor: pointer;
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
</style>

<div class="content" role="main">
 
    <div class="sidebar">
      <p style="color: white; justify-self: center; font-size: large;">Itineraries:</p>
      <div class="Itinerary"></div>
      <div class="Itinerary"></div>
      <div class="Itinerary"></div>
      <div class="Itinerary"></div>
      <div class="Itinerary"></div>
      <a class="addItin" onclick="addItinerary()">
        <span>+</span>
      </a>
    </div>
    <div></div>
    <div class="form">
      New Itinerary
    </div>
</div>
  
    <!-- <input type="hidden" #selection> -->
  <script>
    let numItin = 0;

    function addItinerary() {
      if(numItin < 5) {
            numItin++;
            console.log(`Number of Itineraries: ${numItin}`);   
        }
        else
            alert('Maximum number of itinteraries reached, upgrade to premium for more');
    }
    // const Itinerary = {
    //     Name: test
    // }
  </script>